/*****************************************************
this is for fixed navbar
******************************************************/
body {
    position: relative;
}

.modal  {
    padding: 20px;
}

/***************************************************
comments style
****************************************************/
div.comment-body div.comment-thumbnail {
    float: left;
}
div.comment-action {
    padding: 0px;
    margin: 0;
}
hr {margin: 0;}

/***************************************************
modals style; scrollable
****************************************************/

.modal-body {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
}

/***************************************************
text boxes formats
****************************************************/
.expanding {
    border: solid 1px #dcdcdc;
    background-color: #FFFFFF;
    /**************************************
    avoids Flash of unstyled content (FOUC)
    ***************************************/
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

/**************************************************
 Flash messages
 *************************************************/

#message {
    padding: 0px;
    margin: 8 auto;
}
#inner-message {
    padding: 6px;
    margin: 0 auto;
}

/***
* {
   font-size: 12px;
   line-height: 1.228;
}
***/

/**************************************************
 login toggle
 *************************************************/

#signintoggle {
    margin: 8 auto;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
