
body{
  overflow-x: hidden;
}

.slidebar-form {
  padding: 7px 15px 13px 15px;
}
.slidebar-nav {
  left: 250px;
  list-style: none;
  height: 100%;
  margin: 0;
  margin-left: -250px;
  overflow-y: auto;
  padding: 0;
  position: fixed;
  top: 50px;
  width: 0;
  z-index: 1000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled .slidebar-nav {
    width: 250px;
}
.slidebar-nav .navbar-collapse {
  padding: 0;
  max-height: none;
}
.slidebar-nav ul {
  float: none;
  width: 100%;
}
.slidebar-nav ul:not {
  display: block;
}
.slidebar-nav li {
  float: none;
  display: block;
}
.slidebar-nav li a {
  padding-top: 12px;
  padding-bottom: 12px;
}
.slidebar-nav .open .dropdown-menu {
  position: static;
  float: none;
  width: auto;
  margin: 0;
  padding: 5px 0;
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.slidebar-nav .open .dropdown-menu > li > a {
  padding: 5px 15px 5px 25px;
}
.slidebar-nav .navbar-brand {
  width: 100%;
}
.slidebar-nav .open > a > b.caret {
  border-top: none;
  border-bottom: 4px solid;
}
.slidebar-nav .navbar-nav {
  margin: 0;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled {
    padding-left: 250px;
}
#page-wrapper6 {
    width: 100%;
    position: absolute;
    padding: 15px;
	top: 50px;
}
#wrapper.toggled #page-wrapper6 {
    position: absolute;
    margin-right: -250px;
}
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #page-wrapper6 {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-wrapper6 {
        position: relative;
        margin-right: 0;
    }
	.slidebar-nav {
		width: 250px;;
	}
	#wrapper.toggled .slidebar-nav {
		width: 0;
    }
}

.slidebar-toggle {
  position: relative;
  float: left;
  padding: 9px 10px;
  margin-top: 8px;
  margin-left: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.slidebar-toggle:focus {
  outline: 0;
}
.slidebar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.slidebar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
.navbar-default .slidebar-toggle {
  border-color: #ddd;
}
.navbar-default .slidebar-toggle:hover,
.navbar-default .slidebar-toggle:focus {
  background-color: #ddd;
}
.navbar-default .slidebar-toggle .icon-bar {
  background-color: #888;
}

/*** White navbar style ***/
/******
#navbar-white.navbar-default {
    font-size: 14px;
    background-color: rgba(255, 255, 255, 1);
    background: -webkit-linear-gradient(top, rgba(239, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(239, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
    border: 0px;
	border-radius: 0;
}

#navbar-white.navbar-default .navbar-nav>li>a:hover,
#navbar-white.navbar-default .navbar-nav>li>a:focus,
#navbar-white.navbar-default .navbar-nav>li>ul>li>a:hover,
#navbar-white.navbar-default .navbar-nav>li>ul>li>a:focus,
#navbar-white.navbar-default .navbar-nav>.active>a,
#navbar-white.navbar-default .navbar-nav>.active>a:hover,
#navbar-white.navbar-default .navbar-nav>.active>a:focus {
	color: rgba(51, 51, 51, 1);
    background-color: rgba(255, 255, 255, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
}
#sidebar-white, #column-white, #dashboard-white, #slidebar-white {
	background-color: #efffff;
}
#navbar-white.navbar-default .navbar-toggle,
#navbar-white.navbar-default .slidebar-toggle {
    border-color: #ccffff;
}
#navbar-white.navbar-default .navbar-toggle:hover,
#navbar-white.navbar-default .navbar-toggle:focus,
#navbar-white.navbar-default .slidebar-toggle:hover,
#navbar-white.navbar-default .slidebar-toggle:focus {
    background-color: #ccffff;
}
#navbar-white.navbar-default .navbar-nav>li>a,
#navbar-white.navbar-default .navbar-nav>li>ul>li>a,
#navbar-white.navbar-default .navbar-brand {
    color: #999999;
}
#navbar-white.navbar-default .navbar-toggle .icon-bar,
#navbar-white.navbar-default .navbar-toggle:hover .icon-bar,
#navbar-white.navbar-default .navbar-toggle:focus .icon-bar,
#navbar-white.navbar-default .slidebar-toggle .icon-bar,
#navbar-white.navbar-default .slidebar-toggle:hover .icon-bar,
#navbar-white.navbar-default .slidebar-toggle:focus .icon-bar {
    background-color: #cccccc;
}

**/

/*****************************************************
this is for fixed navbar (TOP)
******************************************************/
body {
    position: relative;
    /***padding-top: 65px;***/
    font-style: verdana !important;
    word-wrap: break-word;
}
a {
    color: 0033CC;
}

.wrapper {
    min-width:500px;
    padding: 0 15px;
    background-color:#dddddd;
}
.navigation {position:fixed;}
.content {background-color:#fff;}

/***************************************************
form styles
****************************************************/
.comment-form {
    background-color: #f8f8f8;
    border-style: solid black;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

/***************************************************
comments style
****************************************************/
div.post-commentcontainer {
    margin-left: 40px;
}

div.comment-thumbnail {
    float: left;
    margin-right: 10px;
}

.comment-date {
    color: grey;
    font-size: 80%;
}

div.comment-action {
    padding: 0px;
    margin: 0px;
}

div.comment-container {
    margin-top: 10px;
}

/***************************************************
posts style
****************************************************/
div.post-container div.post-thumbnail {
    float: left;
    margin-right: 10px;
}

div.post-container div.post-author {
    color: green;
}
div.post-container div.post-title * {
    color: 0033CC !important;
    font-weight: normal !important;
    margin-bottom: 1px;
}

div.post-container {
    margin-top: 20px;
}

.control-label {
    color: grey !important;
    font-weight: normal !important;
}

.post-invite {
    color: grey !important;
    font-weight: normal !important;
}

/***************************************************
modals style; scrollable
****************************************************/

.modal-body {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
}
.modal-header {
    padding-top: 10px;
    padding-bottom: 0px;
}
.modal-footer {
    padding-bottom: 10px;
    padding-top: 0px;
}
#loginModal {
    margin-top: 40px;
}

/***************************************************
text boxes formats
****************************************************/
.expanding {
    border: solid 1px #dcdcdc;
    background-color: #FFFFFF;
    /**************************************
    avoids Flash of unstyled content (FOUC)
    ***************************************/
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}
/**************************************************
 Search box
 *************************************************/
#search {
    margin: 8 auto;
}


/**************************************************
 Flash messages
 *************************************************/
#message {
    position:fixed;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
    margin: 8 auto;
    max-width: 300px;
    z-index:9999;
    border-radius:0px;
}

#inner-message {
    padding: 6px;
    margin: 0 auto;
}

/**************************************************
 login toggle
 *************************************************/

#signintoggle {
    margin: 5 auto;
}

#login-dp{
    min-width: 250px;
    padding: 0 14px 0;
    overflow:hidden;
    background-color: #f8f8f8;
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

