<html>
  <>
    {% if title %}
    <title>LikeReader-{{ title }}</title>
    {% else %}
    <title>LikeReader</title>
    {% endif %}

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="{{ url_for('static', filename='js/angular-flash.min.js') }}"></script>

      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

      <!-- for best fit on mobile; no zooming as well to make it stays fit on frame -->
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

      <!-- this is used for expanding textbox -->
      <script type="text/javascript" src="{{ url_for('static', filename='js/expanding.js') }}"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <script type="text/javascript" src="{{ url_for('static', filename='js/appangular.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/dirPagination.js') }}"></script>

    <!--<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.10.1/angular-moment.min.js"></script>

    <link rel="icon shortcut" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">

    {% if g.locale != 'en' %}
    <script src="/static/js/moment-{{g.locale}}.min.js"></script>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
 <body data-spy="scroll" data-target=".navbar" data-offset="50" ng-app="myApp">

    {% include 'navigation.html' %}

    <div id="wrapper">

    {% include 'sidebar.html' %}

    <!-- Page Content -->
    <main id="page-wrapper6">
      <div class="container">
        <div class="col-md-7">
            {% block content %}{% endblock %}
        </div>

        <div class="col-md-5">

            <!---adsense here -->
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- LargeRectangleAdd -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:336px;height:280px"
                 data-ad-client="ca-pub-4942287924077752"
                 data-ad-slot="7837021226"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>

        </div>
      </div>
    </main>

  </div><!-- /#wrapper -->



  </body>
</html>