<html>
  <head>
    {% if title %}
    <title>LikeReader-{{ title }}</title>
    {% else %}
    <title>LikeReader</title>
    {% endif %}

    <script src="http://code.jquery.com/jquery-latest.js"></script>

    <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

      <!-- for best fit on mobile; no zooming as well to make it stays fit on frame -->
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

      <!-- this is used for expanding textbox -->
      <script type="text/javascript" src="{{ url_for('static', filename='js/expanding.js') }}"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
      integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <!---<script src="/static/js/bootstrap.min.js"></script> -->
    <!---<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">--->
    <!---<link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">-->

    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
    <link rel="icon shortcut" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">

    {% if g.locale != 'en' %}
    <script src="/static/js/moment-{{g.locale}}.min.js"></script>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
 <body data-spy="scroll" data-target=".navbar" data-offset="50">

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

    <div class="navbar-header">
      <button href="#menu-toggle" class="slidebar-toggle" id="menu-toggle">
        <span class="sr-only">Toggle sidebar</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span><a class="navbar-brand" href="{{ url_for('index') }}">LikeReader</a></span>
    </div>

      <div class="collapse navbar-collapse">

          <div class="col-sm-3">
            <form class="navbar-form navbar-collapse" role="search" action="{{ url_for('search') }}" method="post" name="search">
            <div class="input-group">
                {{ g.search_form.hidden_tag() }}
                <input type="text" class="form-control" placeholder="Search" name="search">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
            </form>
        </div>
    </div>

      <div id = "message" class="text-center"> 
          {% include 'flash.html' %} 
      </div> 

  </nav>

    <div id="wrapper">

        <!-- Sidebar -->
	<div id="slidebar-white" class="slidebar-nav">
      <nav id="navbar-white" class="navbar navbar-default" role="navigation">
        <ul class="nav navbar-nav">
          <!--<li class="hidden-xs"><a class="navbar-brand" href="/">Slidebar</a></li>-->
            <!--<li><a class="navbar-brand" href="/">Slidebar</a></li>-->

            {% if g.user.is_authenticated %}
                <li><a href="{{ url_for('user', username=g.user.username) }}"><img src="{{ g.user.avatar(30) }}"/> {{ g.user.username }}</a></li>
            {% else %}

            <li class="sidebar-form">

              <button id="signintoggle" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                  <i class="glyphicon glyphicon-th-list"></i> Sign In
              <span class="caret"></span></button>

                <ul id="login-dp" class="dropdown-menu">
                <li>
                     <div class="row">
                        <div class="col-md-12">
                        <div class="social-buttons">
                            <a href="{{ url_for('oauth_authorize', provider='facebook') }}" class="btn btn-fb"><i class="fa fa-facebook"></i> via facebook</a>
                            <a href="{{ url_for('oauth_authorize', provider='twitter') }}" class="btn btn-tw"><i class="fa fa-twitter"></i> via twitter</a>
                        </div>
                         <form class="form" role="form" method="post" action="{{ url_for('baselogin') }}" accept-charset="UTF-8" id="login-nav">
                                {{ g.login_form.hidden_tag() }}
                                <div class="form-group">
                                     <label class="sr-only" for="username">Username</label>
                                     <input type="username" class="form-control" name="username" id="username" placeholder="Username" required>
                                </div>
                                <div class="form-group">
                                     <label class="sr-only" for="password">Password</label>
                                     <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                                     <div class="help-block text-right"><a href="/update">Forget your password ?</a></div>
                                </div>
                                <div class="form-group">
                                     <button type="submit" class="btn btn-success btn-block">Sign in</button>
                                    <a id="registersidebar" class="btn btn-primary btn-block" href="/register"><b>Sign up</b></a>
                                </div>
                         </form>
                        </div>
                     </div>
                </li>
                </ul>
            </li>

            {% endif %}

          <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-th-list"></i> Pages <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/index">Public</a></li>
            <li><a href="/private">Private</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-tags"></i> Posts <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/">User1</a></li>
            <li><a href="/">User2</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Favorites</li>
            <li><a href="/">User1</a></li>
            <li><a href="/">User2</a></li>
          </ul>
        </li>

        <li class="dropdown">
        {% if g.user.is_authenticated %}
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> Profile <b class="caret"></b></a>
        {% else %}
            <a href="#" class="dropdown-toggle disabled" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> Profile <b class="caret"></b></a>
        {% endif %}
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('user', username=g.user.username) }}"><i class="glyphicon glyphicon-user"></i> Profile</a></li>
            <li><a href="/"><i class="glyphicon glyphicon-plus"></i> Account</a></li>
            <li><a href="{{ url_for('edit') }}"><i class="glyphicon glyphicon-cog"></i> Settings</a></li>
            <li><a href="/"><i class="glyphicon glyphicon-comment"></i> Notifications</a></li>
            <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-in"></span> {{ _('Logout') }}</a></li>
          </ul>
        </li>


        </ul>
      </nav><!--/.navbar -->
    </div><!--/.sidebar-nav -->

    <!-- Page Content -->
    <main id="page-wrapper6">
      <div class="container-fluid">
        <div class="col-md-8">
            {% block content %}{% endblock %}
        </div>

        <div class="col-md-4">

            <!---adsense here -->
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- LargeRectangleAdd -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:336px;height:280px"
                 data-ad-client="ca-pub-4942287924077752"
                 data-ad-slot="7837021226"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>

        </div>
      </div>
    </main>

  </div><!-- /#wrapper -->



  </body>
</html>