<div class="comment-form">
    <form class="form-horizontal" action="" method="post" name="comment">
        {{ commentform.hidden_tag() }}
        <div class="control-group{% if commentform.body.errors %} error{% endif %}">
            <label class="control-label" for="body">{{ _('Comment:') }}</label>
            <div class="controls">
                {{ commentform.body(maxlength=1000, class="span4") }}
                {% for error in commentform.body.errors %}
                    <span class="help-inline">[{{ error }}]</span><br>
                {% endfor %}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input class="btn btn-primary" type="submit" value="{{ _('Publish') }}">
            </div>
        </div>
    </form>
</div>
