{% for comment in comments %}
    <hr/>
    <div class="comment-body">
            <div class="comment-thumbnail">
                <a href="{{ url_for('.user', username=comment.author.username) }}">
                    <img class="img-rounded profile-thumbnail" src="{{ comment.author.avatar(size=40) }}">
                </a>
            </div>
            <a href="{{ url_for('user', username=comment.author.username) }}">{{ comment.author.username }}</a>
            <i>{{ momentjs(comment.timestamp).fromNow() }}</i>
                {% if comment.disabled %}
                <p><i>This comment has been disabled by a moderator.</i></p>
                {% endif %}
                {% if moderate or not comment.disabled %}
                    {% if comment.body_html %}
                        {{ comment.body_html | safe }}
                    {% else %}
                        {{ comment.body }}
                    {% endif %}
                {% endif %}
    </div>

    <div class="comment-action">
        {% if moderate %}
            {% if comment.disabled %}
                <a class="btn btn-success btn-xs" href="{{ url_for('moderate_enable', id=comment.id, page=page) }}">Enable</a>
            {% else %}
                <a class="btn btn-danger btn-xs" href="{{ url_for('moderate_disable', id=comment.id, page=page) }}">Disable</a>
            {% endif %}
                <a class="btn btn-info btn-xs" href="javascript:replycomment('#comment{{ comment.id }}');">{{ _('Reply') }}</a>
        {% else %}
            <a class="btn btn-default btn-xs" href="javascript:replycomment('#comment{{ comment.id }}');">{{ _('Reply') }}</a>
        {% endif %}
    </div>
    {% include 'replybox.html' %}
{% endfor %}

