<div class="comment-form">
    <form class="form-horizontal" action="" method="post" name="comment">
        {{ commentform.hidden_tag() }}

        <div class="control-group{% if commentform.body.errors %} error{% endif %}">
                <label class="control-label" for="body">{{ _('Comment:') }}</label>

                <textarea name="body"  maxlength=8000 class="expanding">
                    {{ commentform.body.data or '' }}
                </textarea>

                <div class="controls">
                    {% for error in commentform.body.errors %}
                        <span class="help-inline">[{{ error }}]</span><br>
                    {% endfor %}
                </div>
        </div>
        <div class="control-group">
            <div class="controls">

                {% if g.user.is_authenticated %}
                <input class="btn btn-sm btn-primary" type="submit" value="{{ _('Publish') }}">
                {% endif %}

            </div>
        </div>
    </form>
</div>

{% if not g.user.is_authenticated %}

<div class="social-buttons">
    <a href="{{ url_for('login', continue_url=request.url) }}" class="btn btn-sm btn-success">{{ _('Sign in') }}</a> or
    <a href="{{ url_for('register', continue_url=request.url) }}" class="btn btn-sm btn-info">{{ _('Sign up') }}</a>
    <a href="{{ url_for('login', continue_url=request.url) }}"> to enable to comment. Trust me its fast and easy.</a>
</div>

<!--- this is a toggle style
<button class="btn btn-sm btn-default" data-toggle="collapse" data-target="#commenttoggle">Comment</button>

<div id="commenttoggle" class="collapse">
    <div class="social-buttons">
        <a href="{{ url_for('login', continue_url=request.url) }}" class="btn btn-sm btn-success">{{ _('Sign in') }}</a> or
        <a href="{{ url_for('register', continue_url=request.url) }}" class="btn btn-sm btn-info">{{ _('Sign up') }}</a>
        <a href="{{ url_for('login', continue_url=request.url) }}"><i>in <strong>seconds</strong> to enable to <strong>comment</strong></i></a>
    </div>
</div>
--->

<!--
<a href="{{ url_for('oauth_authorize', provider='facebook') }}" class="btn btn-fb"><i class="fa fa-facebook"></i></a>
<a href="{{ url_for('oauth_authorize', provider='twitter') }}" class="btn btn-tw"><i class="fa fa-twitter"></i></a>
-->

{% endif %}


