{% extends "base.html" %}

{% block content %}
<!--login modal-->
<div id="loginModal" class="modal show modal-wide" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
  <div class="modal-content">
      <div class="modal-header">
          <!--<h1 class="text-center"><span class="glyphicon glyphicon-log-in"></span> Login</h1>-->
          <h1 class="text-center"> Login</h1>
      </div>
      <div class="modal-body">

            Login directly via
            <br><br>
            <div class="social-buttons text-center">
                <a href="{{ url_for('oauth_authorize', provider='facebook') }}" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                <a href="{{ url_for('oauth_authorize', provider='twitter') }}" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
            </div>
            <br>
            or continue signing in...
            <br><br>

          <form class="form center-block" name = 'form' role="form" method="post" action="{{ url_for('login') }}">
              {{ form.csrf_token }}
            <div class="form-group has-feedback">
             <input type="text"  class="form-control input-lg-1" {{ form.username(placeholder="Username") }}
               <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                     <span>
                         {% if form.username.errors %}
                            {% for error in form.username.errors %}
                              {{ error }}
                            {% endfor %}
                          {% endif %}
                     </span>
            </div>
              <div class="form-group has-feedback ">
               <input type="password" id = "password" class="form-control input-lg-1"  {{ form.password(placeholder="Password") }}
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                     <span>
                         {% if form.password.errors %}
                        {% for error in form.password.errors %}
                          {{ error }}
                        {% endfor %}
                      {% endif %}
                     </span>
            </div>
              <div class="form-group">
                  <button class="btn btn-success btn-lg-1 btn-block" name="submit" type="submit" value="signin">Sign In</button>
                  <button class="btn btn-info btn-lg-1 btn-block" name="submit" type="submit" value="cancel">Continue as guest for now</button>
                <span class="pull-right"><a href="/register">Register</a></span>
                <span class="pull-left"><a href="/update">Reset Password</a></span>
                  <input type=hidden value="{{ next or '' }}" name=next>
              </div>
          </form>
      </div>

      <div class="modal-footer"></div>
  </div>
  </div>
</div>

{% endblock %}
