
 <div class="post-container">

        <div class="post-thumbnail">
            <a href="{{ url_for('.user', username=post.author.username) }}">
                <img class="img-rounded profile-thumbnail" src="{{ post.author.avatar(size=50) }}">
            </a>
        </div>
        <div class="post-title"><h5><span id="post{{ post.id }}"><a href="{{ url_for('post', id = post.id) }}">{{ post.title }}</a></span></h5></div>

        {% autoescape false %}
        <div class="post-author text-lowercase">{{ _('%(username)s posted %(when)s:', username='<a href="%s">%s</a>' % (url_for('user', username=post.author.username), post.author.username), when=momentjs(post.timestamp).fromNow()) }}</div>
        {% endautoescape %}

        <div class="post-body"><span id="post{{ post.id }}">{{ post.body }}</span></div>

        {% if post.language != None and post.language != '' and post.language != g.locale %}
        <div class="post-body-translated">
            <span id="translation{{ post.id }}">
                <a href="javascript:translate('{{ post.language }}', '{{ g.locale }}', '#post{{ post.id }}', '#translation{{ post.id }}', '#loading{{ post.id }}');">{{ _('Translate') }}</a>
            </span>
            <img id="loading{{ post.id }}" style="display: none" src="/static/img/loading.gif">
        </div>
        {% endif %}

        {% if post.author.id == g.user.id or g.adminflag %}
        <div class="post-action"><a href="{{ url_for('delete', id=post.id) }}">{{ _('Delete') }}</a></div>
        {% endif %}

</div>
