{% extends "base.html" %}

{% block content %}

<!--login modal-->
<div id="loginModal" class="modal show modal-wide" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
  <div class="modal-content">
      <div class="modal-header">
          <div class="btn-group btn-group-justified" role="group" aria-label="true">
              <a class="btn btn-default btn-sm" href="/login">Login</a>
                <a class="btn btn-default btn-sm" href="/update">Reset Password</a>
            </div>

          <h4 class="text-center">Register</h4>
      </div>
      <div class="modal-body">

            <div class="social-buttons text-center">
                <a href="{{ url_for('oauth_authorize', provider='facebook') }}" class="btn btn-fb"><i class="fa fa-facebook"></i> via facebook</a>
                <a href="{{ url_for('oauth_authorize', provider='twitter') }}" class="btn btn-tw"><i class="fa fa-twitter"></i> via twitter</a>
            </div>
            <hr/>

            <form class="form center-block" role="form" method="post" action="{{ url_for('register') }}">

                  {{ form.csrf_token }}
                <div class="form-group has-feedback">
                  <input type="username" class="form-control input-lg-1"  {{ form.username(placeholder="User Name") }}
                          <span class="glyphicon glyphicon-user form-control-feedback"></span>
                         <span>
                             {% if form.username.errors %}
                                {% for error in form.username.errors %}
                                  {{ error }}
                                {% endfor %}
                              {% endif %}
                         </span>
                </div>

                <div class="form-group has-feedback">
                  <input type="email" class="form-control input-lg-1"   {{ form.email(placeholder="Email Address (Optional)") }}
                         <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                         <span>
                             {% if form.email.errors %}
                            {% for error in form.email.errors %}
                              {{ error }}
                            {% endfor %}
                          {% endif %}
                         </span>
                </div>

                <div class="form-group has-feedback">
                  <input type="password" class="form-control input-lg-1"  {{ form.password(placeholder="Password") }}
                         <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                         <span>
                             {% if form.password.errors %}
                            {% for error in form.password.errors %}
                              {{ error }}
                            {% endfor %}
                          {% endif %}
                         </span>
                </div>

                <div class="form-group has-feedback">
                  <input type="password" class="form-control input-lg-1"  {{ form.confirm(placeholder="Confirm Password") }}
                         <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                         <span>
                             {% if form.confirm.errors %}
                            {% for error in form.confirm.errors %}
                              {{ error }}
                            {% endfor %}
                          {% endif %}
                         </span>
                </div>

                  <div class="form-group">

                    <div class="btn-group btn-group-justified" role="group" aria-label="true">
                        <div class="btn-group">
                            <button class="btn btn-success" name="submit" type="submit" value="register">Register</button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-primary" name="submit" type="submit" value="cancel">Later</button>
                        </div>
                    </div>

                      <input type=hidden value="{{ next or '' }}" name=next>

                  </div>
          </form>

      </div>

      <div class="modal-footer">
      </div>
  </div>
  </div>
</div>

{% endblock %}