<p>Dear {{ commentuser.username }},</p>
<p>{{ _('%(username)s has replied to your comment.', username=replyuser.username) }}</p>
<p> <a href="{{ commenturl }}"> Click here to reply. </a></p>
<table>
    <tr valign="top">
        <td><img src="{{ replyuser.avatar(50) }}"></td>
        <td>
            <a href="{{ url_for('user', username=replyuser.username, _external=True)}}">{{ replyuser.username }}</a><br />
            {{ replyuser.about_me }}
        </td>
    </tr>
</table>
<p>{{ _('Regards,') }}</p>
<p>{{ _('<code>LikeReader</code> Admin') }}</p>
