{% extends "base.html" %}

{% block content %}

<!--login modal-->
<div id="loginModal" class="modal show modal-wide" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
  <div class="modal-content">
      <div class="modal-header">
            <div class="btn-group btn-group-justified" role="group" aria-label="true">
              <a class="btn btn-default btn-sm" href="/register">Register</a>
                <a class="btn btn-default btn-sm" href="/login">Login</a>
            </div>

          <h4 class="text-center">Change Password</h4>
      </div>
      <div class="modal-body">

            <div class="social-buttons text-center">
                <a href="{{ url_for('oauth_authorize', provider='facebook') }}" class="btn btn-fb"><i class="fa fa-facebook"></i> via facebook</a>
                <a href="{{ url_for('oauth_authorize', provider='twitter') }}" class="btn btn-tw"><i class="fa fa-twitter"></i> via twitter</a>
            </div>
            <hr/>

          <form class="form center-block" role="form" method="post" action="{{ url_for('update') }}">
              {{ form.csrf_token }}
            <div class="form-group">
              <input type="username" class="form-control input-lg-1"   {{ form.username(placeholder="Username") }}
                     <span>
                         {% if form.username.errors %}
                        {% for error in form.username.errors %}
                          {{ error }}
                        {% endfor %}
                      {% endif %}
                     </span>
            </div>

          <div class="form-group">
              <div class="btn-group btn-group-justified" role="group" aria-label="true">
                    <div class="btn-group">
                        <button class="btn btn-success" name="submit" type="submit" value="update">Reset password</button>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-info" name="submit" type="submit" value="cancel">Later</button>
                    </div>
                </div>

                <input type=hidden value="{{ next or '' }}" name=next>
          </div>
        </form>
      </div>

      <div class="modal-footer border-top: 0px;">
      </div>
  </div>
  </div>
</div>


{% endblock %}